<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VT</title>
    <link rel="stylesheet" href="../public/css/style1.css";
  </head>

  <body>
    <header class="green"></header>
    <div class="video">
      <video autoplay loop preload="auto" muted>
        <source
          src="https://video.thingsboard.io/tb-cover2.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <main class="red content center-child">
      <div class="login red">
        <div class="login-header green center-child">
          <img
            class="green logo-image"
            src="../public/images/linus_angry.jpg"
          />
          <p class="text-white">Group 2 - Quality Monitoring</p>
        </div>
      </div>
    </main>
  </body>
</html>
